@keyframes rotate {
  0% {
    transform: rotateY(0);
  }

  100% {
    transform: rotateY(180deg);
  }
}

/* .is-flipped {
  transform: rotateY(180deg);
} */

.c-card {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 0 auto;
  position: relative;
  width: 144px;
  height: 205px;
  cursor: pointer;
}

.c-card .c-card__front-container {
  -webkit-perspective: 600px;
  perspective: 600px;
  will-change: transform;
  height: 100%;
  position: relative;
}

.c-card__back {
  background-size: 100%;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5);
}

.c-card__back:hover {
  -webkit-animation: inActiveAnim 2s ease;
  animation: inActiveAnim 2s ease;
}

.c-card__back img {
  max-width: 100%;
}

.c-card__front {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 14px rgba(0, 0, 0, 0.5);
  position: relative;
  will-change: transform;
  padding: 1%;
  overflow: hidden;
}

.c-card__front img {
  max-width: 100%;
}

.c-card__top-content strong {
  color: #fff;
  font-family: HalisGR-Medium, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  display: block;
  margin: 0 0 5px;
}

.c-card__top-content span {
  color: #d0cfc3;
  font-family: HalisGR-Light, sans-serif;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

.c-card .c-card__desc {
  position: relative;
  margin: 145px 20px 15px 3px;
  padding-left: 14px;
}

.c-card .c-card__desc p {
  color: #d0cfc3;
  font-family: HalisGR-Light, sans-serif;
  font-size: 14px;
  line-height: normal;
  margin: 0;
}

.c-card .c-card__desc br {
  content: '' !important;
  display: block !important;
  border-bottom: 1px solid #211d12;
  margin: 10px 0;
}

.c-card .c-card__desc br:last-child {
  display: none !important;
}

.c-card .c-card__desc:before {
  content: '';
  display: block;
  width: 4px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.c-card__group {
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.c-card[data-group='1'] .c-card__group {
  background-image: url(../img/card-reveals/cards/m/frame-basis-bronze.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-group='1'] .c-card__group {
    background-image: url(../img/card-reveals/cards/m/frame-basis-bronze.png);
  }
}

.c-card[data-group='2'] .c-card__group {
  background-image: url(../img/card-reveals/cards/m/frame-basis-silver.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-group='2'] .c-card__group {
    background-image: url(../img/card-reveals/cards/m/frame-basis-silver.png);
  }
}

.c-card[data-group='3'] .c-card__group {
  background-image: url(../img/card-reveals/cards/m/frame-basis-gold.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-group='3'] .c-card__group {
    background-image: url(../img/card-reveals/cards/m/frame-basis-gold.png);
  }
}

/* .c-card[data-group='4'] .c-card__group {
  background-image: url(../img/card-reveals/cards/m/frame-basis-special.png);
}
@media screen and (max-width: 767px) {
  .c-card[data-group='4'] .c-card__group {
    background-image: url(../img/card-reveals/cards/m/frame-basis-special.png);
  }
} */
.c-card[data-group='5'] .c-card__group {
  background-image: url(../img/card-reveals/cards/m/frame-basis-leader.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-group='5'] .c-card__group {
    background-image: url(../img/card-reveals/cards/m/frame-basis-leader.png);
  }
}

.c-card__rarity {
  background-size: 100% 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  left: 9px;
  top: 9px;
  z-index: 1;
}

.c-card[data-rarity='5'] .c-card__rarity {
  background-image: url(../img/card-reveals/cards/m/gem-common.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-rarity='5'] .c-card__rarity {
    background-image: url(../img/card-reveals/cards/m/gem-common.png);
  }
}

.c-card[data-rarity='15'] .c-card__rarity {
  background-image: url(../img/card-reveals/cards/m/gem-rare.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-rarity='15'] .c-card__rarity {
    background-image: url(../img/card-reveals/cards/m/gem-rare.png);
  }
}

.c-card[data-rarity='20'] .c-card__rarity {
  background-image: url(../img/card-reveals/cards/m/gem-epic.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-rarity='20'] .c-card__rarity {
    background-image: url(../img/card-reveals/cards/m/gem-epic.png);
  }
}

.c-card[data-rarity='25'] .c-card__rarity {
  background-image: url(../img/card-reveals/cards/m/gem-legendary.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-rarity='25'] .c-card__rarity {
    background-image: url(../img/card-reveals/cards/m/gem-legendary.png);
  }
}

.c-card__power {
  background-size: 100% 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 9px;
  top: 9px;
}

.c-card[data-power='1'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-01.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='1'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-01.png);
  }
}

.c-card[data-power='2'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-02.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='2'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-02.png);
  }
}

.c-card[data-power='3'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-03.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='3'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-03.png);
  }
}

.c-card[data-power='4'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-04.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='4'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-04.png);
  }
}

.c-card[data-power='5'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-05.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='5'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-05.png);
  }
}

.c-card[data-power='6'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-06.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='6'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-06.png);
  }
}

.c-card[data-power='7'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-07.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='7'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-07.png);
  }
}

.c-card[data-power='8'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-08.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='8'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-08.png);
  }
}

.c-card[data-power='9'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-09.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='9'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-09.png);
  }
}

.c-card[data-power='10'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-10.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='10'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-10.png);
  }
}

.c-card[data-power='11'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-11.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='11'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-11.png);
  }
}

.c-card[data-power='12'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-12.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='12'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-12.png);
  }
}

.c-card[data-power='13'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-13.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='13'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-13.png);
  }
}

.c-card[data-power='14'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-14.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='14'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-14.png);
  }
}

.c-card[data-power='15'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-15.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='15'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-15.png);
  }
}

.c-card[data-power='16'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-16.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='16'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-16.png);
  }
}

.c-card[data-power='17'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-17.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='17'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-17.png);
  }
}

.c-card[data-power='18'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-18.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='18'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-18.png);
  }
}

.c-card[data-power='19'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-19.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='19'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-19.png);
  }
}

.c-card[data-power='20'] .c-card__power {
  background-image: url(../img/card-reveals/cards/m/numbers-20.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-power='20'] .c-card__power {
    background-image: url(../img/card-reveals/cards/m/numbers-20.png);
  }
}

/* 리더 Mulligan */
.c-card--leader .c-card__mulligan {
  background-image: url('../img/card-reveals/cards/m/leader-mulligan.png');
  background-size: 100% 100%;
  width: 38px;
  height: 38px;
  position: absolute;
  left: 10px;
  top: 60px;
}

.c-card .c-card__mulligan-cost {
  background-size: 100% 100%;
  width: 38px;
  height: 38px;
  position: absolute;
}

.c-card[data-mulligan='0'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-00.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='0'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-00.png);
  }
}

.c-card[data-mulligan='1'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-01.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='1'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-01.png);
  }
}

.c-card[data-mulligan='2'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-02.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='2'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-02.png);
  }
}

.c-card[data-mulligan='3'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-03.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='3'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-03.png);
  }
}

.c-card[data-mulligan='4'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-04.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='4'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-04.png);
  }
}

.c-card[data-mulligan='5'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-05.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='5'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-05.png);
  }
}

.c-card[data-mulligan='6'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-06.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='6'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-06.png);
  }
}

.c-card[data-mulligan='7'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-07.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='7'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-07.png);
  }
}

.c-card[data-mulligan='8'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-08.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='8'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-08.png);
  }
}

.c-card[data-mulligan='9'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-09.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='9'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-09.png);
  }
}

.c-card[data-mulligan='10'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-10.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='10'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-10.png);
  }
}

.c-card[data-mulligan='11'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-11.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='11'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-11.png);
  }
}

.c-card[data-mulligan='12'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-12.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='12'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-12.png);
  }
}

.c-card[data-mulligan='13'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-13.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='13'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-13.png);
  }
}

.c-card[data-mulligan='14'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-14.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='14'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-14.png);
  }
}

.c-card[data-mulligan='15'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-15.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='15'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-15.png);
  }
}

.c-card[data-mulligan='16'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-16.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='16'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-16.png);
  }
}

.c-card[data-mulligan='17'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-17.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='17'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-17.png);
  }
}

.c-card[data-mulligan='18'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-18.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='18'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-18.png);
  }
}

.c-card[data-mulligan='19'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-19.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='19'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-19.png);
  }
}

.c-card[data-mulligan='20'] .c-card__mulligan-cost {
  background-image: url(../img/card-reveals/cards/m/numbers-20.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-mulligan='20'] .c-card__mulligan-cost {
    background-image: url(../img/card-reveals/cards/m/numbers-20.png);
  }
}

/* 카드 Type */
.c-card .c-card__row {
  background-size: 100% 100%;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.c-card[data-row='2'] .c-card__row {
  background-image: url(../img/card-reveals/cards/m/icon-spell.png);
}

.c-card[data-row='3'] .c-card__row {
  background-image: url(../img/card-reveals/cards/m/icon-artifact.png);
  width: 30px;
  height: 30px;
  left: 14px;
  top: 14px;
}

.c-card[data-row='4'] .c-card__row {
  background-image: url(../img/card-reveals/cards/m/icon-leader.png);
  width: 30px;
  height: 30px;
  left: 14px;
  top: 14px;
}

/* 카드 Provision */
.c-card__provision-basis {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 5px;
  bottom: 5px;
}

.c-card--monster .c-card__provision-basis {
  background-image: url(../img/card-reveals/cards/m/provision-mon.png);
}

.c-card--neutral .c-card__provision-basis {
  background-image: url(../img/card-reveals/cards/m/provision-neu.png);
}

.c-card--nilfgaard .c-card__provision-basis {
  background-image: url(../img/card-reveals/cards/m/provision-nil.png);
}

.c-card--northernrealms .c-card__provision-basis {
  background-image: url(../img/card-reveals/cards/m/provision-nor.png);
}

.c-card--scoiatael .c-card__provision-basis {
  background-image: url(../img/card-reveals/cards/m/provision-sco.png);
}

.c-card--skellige .c-card__provision-basis {
  background-image: url(../img/card-reveals/cards/m/provision-ske.png);
}

.c-card__provision-icon {
  background-image: url(../img/card-reveals/cards/m/provision-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 5px;
  bottom: 40px;
}

.c-card__provision {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0px;
  bottom: 0px;
}

.c-card[data-provision='1'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-01.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='1'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-01.png);
  }
}

.c-card[data-provision='2'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-02.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='2'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-02.png);
  }
}

.c-card[data-provision='3'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-03.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='3'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-03.png);
  }
}

.c-card[data-provision='4'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-04.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='4'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-04.png);
  }
}

.c-card[data-provision='5'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-05.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='5'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-05.png);
  }
}

.c-card[data-provision='6'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-06.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='6'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-06.png);
  }
}

.c-card[data-provision='7'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-07.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='7'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-07.png);
  }
}

.c-card[data-provision='8'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-08.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='8'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-08.png);
  }
}

.c-card[data-provision='9'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-09.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='9'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-09.png);
  }
}

.c-card[data-provision='10'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-10.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='10'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-10.png);
  }
}

.c-card[data-provision='11'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-11.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='11'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-11.png);
  }
}

.c-card[data-provision='12'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-12.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='12'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-12.png);
  }
}

.c-card[data-provision='13'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-13.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='13'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-13.png);
  }
}

.c-card[data-provision='14'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-14.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='14'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-14.png);
  }
}

.c-card[data-provision='15'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-15.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='15'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-15.png);
  }
}

.c-card[data-provision='16'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-16.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='16'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-16.png);
  }
}

.c-card[data-provision='17'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-17.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='17'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-17.png);
  }
}

.c-card[data-provision='18'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-18.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='18'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-18.png);
  }
}

.c-card[data-provision='19'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-19.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='19'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-19.png);
  }
}

.c-card[data-provision='20'] .c-card__provision {
  background-image: url(../img/card-reveals/cards/m/numbers-20.png);
}

@media screen and (max-width: 767px) {
  .c-card[data-provision='20'] .c-card__provision {
    background-image: url(../img/card-reveals/cards/m/numbers-20.png);
  }
}

.c-card--neutral .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-neu.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 58px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.c-card--neutral .c-card__desc:before {
  background: -webkit-gradient(linear,
    left top,
    left bottom,
    from(#6c482d),
    to(#c89d7d));
  background: linear-gradient(to bottom, #6c482d, #c89d7d);
  -webkit-box-shadow: 0 0 8px #c89d7d;
  box-shadow: 0 0 8px #c89d7d;
}


.c-card--monster.c-card--leader .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-mon-leader.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 116px;
}

.c-card--monster .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-mon-basic.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 58px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.c-card--monster .c-card__desc:before {
  background: -webkit-gradient(linear,
    left top,
    left bottom,
    from(#751515),
    to(#b91818));
  background: linear-gradient(to bottom, #751515, #b91818);
  -webkit-box-shadow: 0 0 8px #b91818;
  box-shadow: 0 0 8px #b91818;
}

.c-card--nilfgaard.c-card--leader .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-nil-leader.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 116px;
}

.c-card--nilfgaard .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-nil-basic.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 58px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.c-card--nilfgaard .c-card__desc:before {
  background: -webkit-gradient(linear,
    left top,
    left bottom,
    from(#756715),
    to(#b9a118));
  background: linear-gradient(to bottom, #756715, #b9a118);
  -webkit-box-shadow: 0 0 8px #b9a118;
  box-shadow: 0 0 8px #b9a118;
}

.c-card--northernrealms.c-card--leader .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-nor-leader.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 116px;
}

.c-card--northernrealms .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-nor.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 58px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.c-card--northernrealms .c-card__desc:before {
  background: -webkit-gradient(linear,
    left top,
    left bottom,
    from(#154275),
    to(#1863b9));
  background: linear-gradient(to bottom, #154275, #1863b9);
  -webkit-box-shadow: 0 0 8px #1863b9;
  box-shadow: 0 0 8px #1863b9;
}

.c-card--scoiatael.c-card--leader .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-sco-leader.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 116px;
}

.c-card--scoiatael .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-sco.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 58px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.c-card--scoiatael .c-card__desc:before {
  background: -webkit-gradient(linear,
    left top,
    left bottom,
    from(#4e7615),
    to(#79ba18));
  background: linear-gradient(to bottom, #4e7615, #79ba18);
  -webkit-box-shadow: 0 0 8px #79ba18;
  box-shadow: 0 0 8px #79ba18;
}

.c-card--skellige.c-card--leader .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-ske-leader.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 116px;
}

.c-card--skellige .c-card__banner {
  background: url(../img/card-reveals/cards/m/banner-ske.png) no-repeat;
  background-size: 100% 100%;
  width: 58px;
  height: 58px;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.c-card--skellige .c-card__desc:before {
  background: -webkit-gradient(linear,
    left top,
    left bottom,
    from(#521575),
    to(#7e18b9));
  background: linear-gradient(to bottom, #521575, #7e18b9);
  -webkit-box-shadow: 0 0 8px #7e18b9;
  box-shadow: 0 0 8px #7e18b9;
}

.c-card--seemore a {
  display: block;
  width: 100%;
  height: 100%;
}

.c-card--seemore .c-card__back span {
  color: #fadf7a;
  font-family: GWENT, sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  top: 154px;
  padding: 0;
  line-height: 40px;
}

.c-card--seemore .c-card__back span:lang(de),
.c-card--seemore .c-card__back span:lang(fr),
.c-card--seemore .c-card__back span:lang(it),
.c-card--seemore .c-card__back span:lang(pl) {
  font-size: 20px;
}

.c-card--seemore .c-card__back span:lang(ru) {
  font-size: 17px;
}

@media screen and (max-width: 767px) {
  .c-card--seemore .c-card__back span {
    font-size: 20px;
    top: 126px;
    line-height: 32px;
  }

  .c-card--seemore .c-card__back span:lang(de),
  .c-card--seemore .c-card__back span:lang(fr),
  .c-card--seemore .c-card__back span:lang(it),
  .c-card--seemore .c-card__back span:lang(pl) {
    font-size: 17px;
  }

  .c-card--seemore .c-card__back span:lang(ru) {
    font-size: 14px;
  }
}

@media screen and (max-width: 374px) {
  .c-card--seemore .c-card__back span {
    top: 104px;
    line-height: 28px;
  }

  .c-card--seemore .c-card__back span:lang(de),
  .c-card--seemore .c-card__back span:lang(fr),
  .c-card--seemore .c-card__back span:lang(it),
  .c-card--seemore .c-card__back span:lang(pl) {
    font-size: 14px;
  }

  .c-card--seemore .c-card__back span:lang(ru) {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .c-card {
    width: 145px;
    height: 198px;
  }
}

@media screen and (max-width: 374px) {
  .c-card {
    width: 120px;
    height: 164px;
  }
}

.l-card-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
  display: none;
}

.l-card-popup__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-card-popup .c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
  height: 100%;
}

.l-card-popup .c-card__top-content {
  background: 0 0;
  display: block;
  position: static;
  margin: 30px 40px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  visibility: visible;
  overflow: visible;
}

.l-card-popup .c-card__top-content span {
  font-size: 16px;
  margin: 0 auto;
}

.l-card-popup .c-card__front-container {
  margin: 50px auto 40px;
  -webkit-animation: levitateAnim 5s ease 0.5s infinite;
  animation: levitateAnim 5s ease 0.5s infinite;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 177px;
  height: 242px;
}

@media screen and (max-width: 767px) {
  .l-card-popup .c-card__front-container {
    width: 145px;
    height: 198px;
  }
}

@media screen and (max-width: 374px) {
  .l-card-popup .c-card__front-container {
    width: 120px;
    height: 164px;
  }
}

.l-card-popup .c-card__front {
  -webkit-transform: translate3d(0, 0, 90px) rotate3d(0.5, 1, -0.5, 10deg);
  transform: translate3d(0, 0, 90px) rotate3d(0.5, 1, -0.5, 10deg);
}

.l-card-popup .c-card__bottom-content {
  background: 0 0;
  display: block;
  position: static;
  padding: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 0;
  visibility: visible;
  overflow: visible;
}

.l-card-popup .c-card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-top: 0;
  margin-left: 6px;
  padding-left: 30px;
  margin-bottom: 30px;
}

.l-card-popup .c-card__desc p {
  overflow-y: auto;
  font-size: 16px;
}

@-webkit-keyframes inActiveAnim {
  0% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }

  40% {
    -webkit-transform: scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
    transform: scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
    transform: scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

@keyframes inActiveAnim {
  0% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }

  40% {
    -webkit-transform: scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
    transform: scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
    transform: scale3d(1.05, 1.05, 1) translate3d(0, -10px, 0);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  }
}

@-webkit-keyframes levitateAnim {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes levitateAnim {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
